
<html>
<head>
<title>login page</title>
</head>
<body>
<div class="container-fluid main" style="position:fixed">
<div class="row">
<div class="col-md-5 offset-md-3">
<div class="card mt-4">
<div class="card-header nav-bg-color text-white">
<h4>login form</h4>
<p *ngIf="message">{{message}}</p>
</div>
<div class="card-body">
<form action="login" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="userEmail" [(ngModel)]="user.username" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="userPassword" [(ngModel)]="user.password" required>
  </div>
  <div class="container text-center">
    <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
    </div>
</form>
<a routerLink="/forgot-password">forgot password</a>
</div>

</div>
</div>
</div>
</div>
</body>
</html>
