.nav-bg-color
{
	background:#673ab7!important;
	
}
.pagination a{
	padding-right:20px;
	padding-left:20px;
	background: blue;
	margin-left: 20px;
}
.original-price{
	text-decoration: line-through;
}

.list-group-item.active{
	background: #673ab7!important;
	border-color: #673ab7;
}

.admin .card{
	border:1px solid #673ab7;
	color: blue !important;
}
.admin .card:hover{
background:#e2e2e2;
cursor: pointer; 
}
.products img{
	max-width: 100%;
    max-height:200px;
    width:auto;
   padding:auto;
   margin:auto;

}
.products{
	min-height:350px;
	width:100%;
}
.product-card .card{
	height:300px;
	width:100%;
	position: relative;
}
.image-container{
	 position: relative;
	 height:auto;
   min-height:100%!important;
   
}
/* toast css */
#toast{
	min-width: 300px;
	position: fixed;
	bottom: 30px;
	left: 50%;
	margin-left: -120px;
	background: rgb(32, 34, 175);
	padding: 15px;
	color: white;
	text-align: center;
	z-index: 1;
	font-size: 18px;
	visibility: hidden;
	box-shadow: 0px 0px 100px rgba(29, 105, 192, 0.466);
}
#toast.display{
	visibility: visible;
	animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
	from {
	bottom: 0;
	opacity: 0;
}
to {
	bottom: 30px;
	opacity: 1;
	
}
	
}

@keyframes fadeOut {
	from {
	bottom: 30px;
	opacity: 1;
}
to {
	bottom: 0;
	opacity: 0;
	
}
	
}
.delete-button a{
	 color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.delete-button a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
 small{
 color:red;}
 .zoom-image:hover{
  transform: scale(1.3);
 }

