<html>
<head>

<title>New User Registration</title>
</head>
<body>

<div class="container-fluid main">
<div class="row">
<div class="col-md-4 offset-md-4">
<div class="card">

<div class="card-body px-5">
<div class="text-center"><img alt="signup" src="assets/images/users.png" height="50px" width="50px"></div>
<h3 class="text-center mt-2">Sign up Form</h3>
<form action="register" method="post" enctype="multipart/form-data">
 <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name" name="userName" [(ngModel)]="user.name" required="required">
  </div>
  <div class="form-group">
    <label for="userEmail">Email address</label>
    <input type="email" class="form-control" id="userEmail" placeholder="name@example.com" name="userEmail" onblur="validateEmail()" [(ngModel)]="user.email" required="required">
    <small id="emailValidation"></small>
  </div>
   <div class="form-group">
    <label for="exampleInputPassword3">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name="userPassword" [(ngModel)]="user.password" required="required">
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" id="gender" [(ngModel)]="user.gender">
      <option selected disabled>select</option>
      <option alue="MALE">Male</option>
      <option value="FEMALE">Female</option>
      <option value="OTHER">Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="userPhone">mobile number</label>
    <input type="tel" class="form-control" id="userPhone" placeholder="Enter mobile number" name="userPhone" onblur="validatePhone()" [(ngModel)]="user.number" required="required">
    <small id="phoneValidation"></small>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile5">profile pic</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile5" name="userPic" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
  </div>

  <button type="submit" class="btn btn-outline-success register" (click)="register(user)">Register</button>
    <button type="reset" class="btn btn-outline-warning reset">Reset</button>
</form>
</div>
</div>
</div>
 </div>
 </div>
</body>
</html>